#startScene, #waitingScene, #wizardScene, #helperScene, #connectionScene, #playerNumScene
{
    -fx-background-image: url("../../../../../../../../resources/islandsinbackground.jpg");
    -fx-background-position: center center;
}
.root
{
    -fx-background-image: url("../../../../../../../../resources/darkBackground.jpg");
    -fx-background-position: center center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.button, .toggle-button {
    -fx-background-color: rgba(60,60,60,0.9);
    -fx-background-radius: 30;
    -fx-border-color: rgba(110,110,110,1);
    -fx-border-size: 10;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-family: "Candara Light";
    -fx-font-size: 25;
}

.toggle-button:selected
{
    -fx-background-color: rgba(131, 224, 229, 0.9)
}

.label {
    -fx-font-family: "Candara Light";
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-background-color: rgba(60,60,60,0.5);
}
